{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<!--Completed by: Marcel Newman-->
<div>
    <form method="POST" action="/movies" class ="form-group row">
        <label for="movie_title">Movie Title: </label>
        <input type="text" class="form-control z-depth-1" id="movie_title" name="movie_title" placeholder="Enter Movie Title">

        <label for="movie_director">Director: </label>
        <input type="text" class="form-control z-depth-1" id="movie_director" name="movie_director" placeholder="Enter Director Name">

        <label for="movie_rating">Rating: </label>
        <select name="movie_rating" id="movie_rating" class="form-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
